@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');
#container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.no-decoration {
    text-decoration: none;
}


/* header */

.flex-1 {
    flex: 1;
    padding: 10px 350px;
}

.logo {
    padding: 20px;
    float: left;
}

.topnav {
    padding: 20px 30px;
    float: right;
    overflow: hidden;
}

.topnav a {
    display: inline-block;
    color: #111A47;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #6D6D6D;
    border-bottom: 3px solid #111A47;
}

.topnav .icon {
    display: none;
}

.botao-nav {
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(118.1deg, #E4C332 -2.02%, #f8f400 129.72%);
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

.botao-nav:hover:before {
    transform: translate(-25%, -25%) rotate(-180deg);
}

.botao-nav:hover {
    background: linear-gradient(118.1deg, #f8f400 -2.02%, #E4C332 129.72%);
}


/* Primeira Div */

.flex-2 {
    padding: 100px 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    flex: 2;
    align-items: center;
    text-align: center;
}

.item1-content1 {
    grid-area: 1/1;
}

.item2-content1 {
    grid-area: 1/2;
}

.imagem-filhos {
    width: 65vh;
}

h1 {
    font-size: 50px;
    color: #111A47;
    text-align: left;
}

.p1 {
    color: #111A47;
    text-align: left;
    position: relative;
    bottom: 10px;
    font-weight: 400;
}

#botao2 {
    padding: 20px 60px;
    margin: 0px;
    float: left;
    top: 10px;
}


/* Segunda Div */

.flex-3 {
    padding: 180px 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #111A47;
}

.item2-content2 {
    grid-area: 1/1;
}

.imagem-onibus {
    width: 50vh;
}

h2 {
    font-size: 50px;
    color: #E4C332;
    text-align: left;
}

.p2 {
    color: white;
    text-align: left;
}


/* Terceira Div */

.flex-4 {
    padding: 100px 400px
}

.fotos {
    text-align: center;
    position: relative;
}

.foto-crianca {
    width: 50vh;
    padding: 10px;
}

.school {
    font-size: 36px;
    text-decoration: none;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 10px;
    left: 70px;
    color: yellow;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    filter: brightness(0%);
    transition: all 0.3s ease;
    padding: 207px 0px;
    width: 50vh;
    background: rgba(0, 0, 0, 0.25);
}

.school:hover {
    opacity: 1;
    filter: brightness(100%);
    transition: all 1s ease;
}

#facul {
    left: 564px;
}

.foto-jovem {
    width: 50vh;
    padding: 10px;
}

h3 {
    font-size: 36px;
    text-align: center;
    color: #111A47;
}


/*Quarta Div */

.flex-5 {
    padding: 100px 400px;
    background-color: #111A47;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.blocos {
    grid-area: 1/1;
    position: relative;
    bottom: 30px;
}

.linha {
    width: 70%;
    position: relative;
    bottom: 33px;
}

h4 {
    grid-area: 1/1;
    font-size: 46px;
    text-align: center;
    color: #E4C332;
    position: relative;
    left: 240px;
    bottom: 20px;
}

.p-divs {
    font-weight: 700;
    font-size: 20px;
    position: relative;
    bottom: 30px;
}

.bloco1 {
    display: inline-flex;
    margin: 15px;
}

.bloco2 {
    display: inline-flex;
}

span {
    font-size: 12px;
    position: relative;
    bottom: 30px;
    margin: 0px 20px 0px 20px;
}

.veiculos {
    background: white;
    border-radius: 8px;
    width: 30vh;
    margin: 10px;
}

.motoristas {
    background: white;
    border-radius: 8px;
    width: 30vh;
    margin: 10px;
}

.monitoras {
    background: white;
    border-radius: 8px;
    width: 30vh;
    margin: 10px;
}

.experiencia {
    background: white;
    border-radius: 8px;
    width: 30vh;
    margin: 10px;
}

.vetor-bus {
    width: 20vh;
}

.credencial {
    width: 20vh;
}

.imagem-monitoras {
    width: 20vh;
}

.imagem-experiencia {
    width: 20vh;
}

.formulario {
    background: white;
    grid-area: 1/2;
    position: relative;
    top: 186px;
    border-radius: 8px;
    padding: 5vh;
    height: 63vh;
    width: 45vh;
}

h5 {
    font-size: 30px;
    word-wrap: none;
    margin-bottom: 30px;
}

.form-control {
    width: 400px;
    height: 30px;
    margin: 10px;
}

.button-msg {
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(118.1deg, #E4C332 -2.02%, #f8f400 129.72%);
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    top: 20px;
    color: #111A47;
    margin: 10px;
}

.button-wpp {
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: var(--title-white);
    background: linear-gradient(118.1deg, #25d366 -2.02%, #11ad4a 129.72%);
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    top: 20px;
    color: white;
    margin: 10px;
}


/* Quinta Div */

.flex-6 {
    background: white;
    padding: 100px 400px;
}

h6 {
    font-size: 36px;
    color: #111A47;
}

.depoimento {
    background-color: #e1dfdf;
    width: 600px;
    margin: auto;
    border-radius: 8px;
}

.depoimento img {
    width: 400px;
    margin-bottom: -40px;
    margin-top: -40px;
}

.depoimento p {
    font-size: 16px;
    width: 400px;
    margin: auto;
}

.depoimento span {
    display: list-item;
    font-size: 14px;
    list-style: none;
}

.cliente-nome {
    margin-top: 40px;
}


/* Footer */

footer {
    padding: 100px 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.25fr;
    background-color: #111A47;
}

.info {
    color: white;
    line-height: 50px;
}

.info p {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    position: relative;
    left: 38px;
    color: #E4C332;
}

.info a {
    color: white;
}

.info ul {
    text-align: left;
}

.links {
    color: white;
    line-height: 50px;
}

.links p {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    position: relative;
    left: 38px;
    color: #E4C332;
}

.links a {
    color: white;
}

.links ul {
    text-align: left;
}

.contato {
    color: white;
    text-align: left;
    line-height: 50px;
}

.contato p {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    position: relative;
    left: 38px;
    color: #E4C332;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

#topnav.responsive {
    position: relative;
}

.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}